<!-- author victoria hwang (vhwang@bu.edu) -->
<!-- This html template displays the Friends homepage, the first thing the user sees when they select
friends on the main page. It gives them the option to find friend by email or search friend by name
and will take them to another page where they can do so.  -->

#
<head>
    <title>friendshome</title>
</head>

<h1> Find and Add Friends!</h1>

<ul>
    <li><a href='/addfriendemail'>Add Friend by Email</a></li>
    <li><a href='/searchfriend'>Search Friend by Name</a></li>
    <li><a href='/seefriends'>See my Friends</a></li>
    <li><a href='/'>Home</a></li>